@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


body {
    direction: rtl;
    background-color: rgb(250, 220, 230);
    color: black;
    font-family: "Secular One", sans-serif;
}

header {
    height: 150px;
    width: 100%;
    background-color: rgb(240, 190, 205);
    margin-top: 0px;
    position: relative;
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    text-decoration: none;
}

h2 {
    font-size: 40px;
    margin-right: 40px;
}

h3 {
    
}

.logo {
    position: absolute;
    left: 5px;
    top: 5px;
}

.logo>img {
    width: 140px;
    height: auto;
    border-radius: 50%;
}

nav {
    width: 100%;
    background-color: rgb(240, 190, 205);
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav>ul a {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.about-section {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: rgb(255, 235, 242);
    padding: 40px;
    margin: 40px;
}

.about-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: rgb(255, 235, 242);
    padding: 40px;
    margin: 40px;
}

.projects-section div {
    width: 250px;
    height: auto;
    background-color: white;
    padding: 20px;
}

.projects-section img {
    height: 250px;
    width: 250px;
}

.projects-section img:hover {
    box-shadow: 0 0 20px rgba(37, 1, 1, 0.2);
    transform: translateY(-1px);
}

.projects-section > a {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.contact-section {
    background-color: rgb(255, 235, 242);
    padding: 40px;
    margin: 40px;
    text-align: center;
}

.contact-form {
    border: 2px solid;
    width: 600px;
    max-width: 90%;
    margin: 0 auto;

}

.field {
    padding: 8px;
}

.field input {
    width: 30%;
    padding: 8px;
    margin-top: 3px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 20%;
    font-size: 18px;
    padding: 8px;
    background-color: #ad199a;
    color: white;
    border: 0;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.footer {
    height: 90px;
    width: 100%;
    background-color: rgb(240, 190, 205);
    color: black;
    text-align: center;
    font-size: 20px;
}