@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    direction: rtl;
    font-family: "Secular One", sans-serif;
    background-color: #0fbc46;
    padding-bottom: 200px;
}

h1 {
    text-align: center;
    color: white;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

h2 {
    padding: 8px;
    border-bottom: 1px solid #c5c5c5;
    color: #4d4d4d;
}

.flex {
    display: flex;
}

.flex div {
    width: 200px;
    height: 180px;
    background-color: #4d4d4d;
}

.flex div:first-child {
    background-color: #0f7fbc;
}

.flex div:nth-child(2) {
    background-color: #0fbcb3;
}

.flex div:last-child {
    background-color: #0fbc37;
}

.ex2 {
    justify-content: center;
}

.ex3 {
    justify-content: space-between;
}

.ex4 {
    flex-wrap: wrap;
}

.ex4 div {
    width: 400px;
}

.ex5 {
    gap: 6px;
    flex-wrap: wrap;
}

.ex5 div {
    flex-grow: 1;
}

.ex6 {
    height: 400px;
    background-color: white;
}

.ex6 div:nth-child(2) {
    align-self: center;
}

.ex6 div:nth-child(3) {
    align-self: end;
}

/* אפשר לתת לאלמנט במצב של wrap
ע"מ לשבור שורה באופן יזום */
.break-line {
    flex-basis: 100%;
    margin: 0;
}