@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    direction: rtl;
    font-family: "Secular One", sans-serif;
    background-color: #0fa5bc;
    padding-bottom: 200px;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

h2 {
    padding: 8px;
    border-bottom: 1px solid #c5c5c5;
    color: #4d4d4d;
}

.grid {
    display: grid;
}

.grid div {
    background-color: #017d90;
    border: 1px solid;
    padding: 3px 6px;
}

.ex1 {
    grid-template-columns: 1fr 1fr;
}

.ex2 {
    grid-template-columns: repeat(3, 1fr);
}

.ex3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.ex4 {
    grid-template-columns: 1fr 3fr 2fr ;
}

.ex5 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

} 

.ex5 div:nth-child(4) {
    background-color: bisque;
    grid-column: 1 / 3 ;
}

.ex6 {
    grid-template-columns: 1fr 3fr 2fr ;
}

.ex6 div:nth-child(4) {
    background-color: bisque;
    grid-row: 2 / 4 ;
}