body {
    /* רקע */
    background-color: #49d23c;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

h2 {
    background-color: rgb(195, 195, 195);
    padding: 8px;
    margin: 8px 0;
    border: 2px dashed gray;
    border-right: 0;
    border-left: 0;
    text-align: center;
}

.image {
    width: 900px;
    height: 400px;
    border: 1px solid gray;
    max-width: 100%;
}

.image1 {
    background-image: url(images/Image20251109175208.png);
    background-size: 50px;
}

.image2 {
    background-image: url(images/Image20251109175218.jpg);
    background-size: cover;
}

.image3 {
    background-image: url(images/Image20251109175222.png) , url(images/Image20251109175218.jpg);
    background-size: 200px , cover;
    background-repeat: no-repeat ,repeat ;
    background-position: center ;

}

.image4 {
    background-image: url(images/Image20251109175222.png) , url(images/Image20251109175208.png);
    background-size: 190px , 70px;
    background-repeat: no-repeat ,repeat ;
    background-position: center ;
}