body {
    /* רקע */
    background-color: #49d23c;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}
h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}
.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}
h2 {
    background-color: rgb(195, 195, 195);
    padding: 8px;
    margin: 8px 0;
    border: 2px dashed gray;
    border-right: 0;
    border-left: 0;
    text-align: center;
}
.bg {
    width: 900px;
    height: 400px;
    border: 1px solid gray;
    max-width: 100%;
}

.bg1 {
    background-color: #e91e63;
}

.bg2 {
    background-image: linear-gradient(45deg, #287c5a, white);
}

.bg3 {
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue);
}

.bg4 {
    background-image: radial-gradient(#000bff, #FFEB3B, red);
}

.bg5 {
    background-image: url(images/Image20251109175222.png) , radial-gradient(white , white , pink ,white );
    background-size: 190px , cover;
    background-repeat: no-repeat ;
    background-position: center ;
}