body {
    background-color: #d23c3c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    direction: rtl;
}
h1 {
    color: white;
    font-size: 36px;
    text-align: center;
}
.frame {
    background-color: white;
    width: 90%;
    max-width: 900px;
    min-height: 500px;
    margin: auto;
    border-radius: 5px;
    padding: 12px;
}
h2 {
    background-color: rgb(195, 195, 195);
    padding: 8px;
    margin: 8px 0;
    border: 2px dashed gray;
    border-right: 0;
    border-left: 0;
    text-align: center;
}
.myDiv {
    width: 300px;
    height: 180px;
    transition: 0.6s;
}