@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    direction: rtl;
    font-family: "Secular One", sans-serif;
    background-color: #363636;
    padding-bottom: 200px;
}

h1 {
    text-align: center;
    color: white;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

h2 {
    padding: 8px;
    border-bottom: 1px solid #c5c5c5;
    color: #4d4d4d;
}

.row {
    display: flex;
}

.third {
    flex-grow: 1;
    height: 200px;
}

.third:first-child {
    background-color: chocolate;
}

.third:nth-child(2) {
    background-color: chartreuse;
    flex-grow: 2;
}

.third:last-child {
    background-color: aqua;
}

@media (max-width: 920px) {
    body {
        background-color: #a600ff;
    }

    .row {
        flex-wrap: wrap;
    }

    .third {
        min-width: 250px;
    }
}

@media (max-width: 640px) {
    body {
        background-color: black;
    }

    .frame {
        background: none;
        width: initial;
    }

    .row {
        display: block;
    }
}
