body {
    margin: 0;
    direction: rtl;
    font-family: sans-serif;
    background-image: linear-gradient(45deg, #494949, #d0f6dc);
}

header {
    color: white;
    padding-top: 6px;
    background-image: radial-gradient(#14a38b, #d8d8d8);
}

h1 {
    text-align: center;
    margin: 36px 0;
    font-size: 50px;
}

nav {
    background-color: #073e59;
    margin-top: 18px;
}

nav a {
    padding: 12px;
    font-size: 18px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background-color: #00000061;
}

ul{
    list-style-type: none;
    position: relative;
}

nav>ul>li{
    display: inline-block;
}

li>ul {
    position: absolute;
    width: 150px;
    height: fit-content;
    background-color: #073e59;
    display: block;
}


main {
    min-height: 100vh;
}

footer {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #073e59;
}