body {
    /* רקע */
    background-color: rgb(55, 47, 79);
    background-image: url(https://d3o5sihylz93ps.cloudfront.net/wp-content/uploads/2020/03/06153059/shutterstock_378226756-Medium.jpg);
    background-size: cover;
background-attachment: fixed;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1,
h2{
    /* צבע טקסט */
    color: rgb(243, 208, 208);
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

h3,
label
{
font-weight: 100;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 300px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

ul {
    list-style-type: square;
}

.field {
    /* ריווח פנימי */
    padding: 8px;
}

.field input,
.field select,
textarea
 {
    /* רוחב */
    width: 100%;
    /* ריווח פנימי */
    padding: 8px;
    /* ריווח חיצוני עליון */
    margin-top: 3px;
    /* עיגול קצוות */
    border-radius: 4px;
    /* גבול */
    border: 1px solid;
    /* גודל גופן */
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    font-size: 18px;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: 0;
    border-radius: 5px;
}
input[type="checkbox"] {
  position: relative; top: 10px;
}
 