body {
    /* רקע */
    background-color: #49d23c;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

.frame div {
    background-color: white;
    padding: 8px;
    margin: 12px;
    border: 1px solid;
    height: 100px;
}

.frame div:first-child {
    border: 4px solid #49d23c;
    border-top-color: red;
}

.frame div:nth-child(2) {
    border: 4px dashed #d23c3c;
}

.frame div:nth-child(3) {
    border: 4px dotted #733cd2;
}

.frame div:nth-child(4) {
    border: 8px double #d23ca5;
}

.frame div:last-child {
    border: 4px solid #99d23c;
    border-right-width: 15px;
    border-top-width: 10px;
}