body {
    /* רקע */
    background-color: #d28a3c;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}
h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}
.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}
.frame>div {
    width: 150px;
    height: 150px;
    margin: 16px;
    display: inline-block;
}
.frame>div:first-child {
    background-color: brown;
    width: 100px;
    height: 100px;
    border-top: 100px;
    border-bottom: 100px solid transparent;
    border-left: 100px;
    border-right: 100px solid transparent;
}
.frame>div:nth-child(2) {
    background-color: blueviolet;
    border-radius: 50%;
}
.frame>div:nth-child(3) {
    background-color: green;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;

}
.frame>div:nth-child(4) {
    background-color: blue;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.frame>div:nth-child(5) {
    background-color: orange;
    border-top-left-radius: 100%;
}
.frame>div:nth-child(6) {
    background-color: rgb(89, 241, 89);
    border-radius: 0 70% ;
}
.frame>div:nth-child(7) {
    border-radius: 50%;
    border: 16px solid gray;
    box-sizing: border-box;
}
.frame>div:nth-child(8) {
    background-color: black;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}
