body{
    direction: rtl;
    background-color: aqua;
}
a{
background-color: antiquewhite;
color: black;
padding: 8px;
display: inline-block;
text-decoration: none;
}
a:hover {
font-size: 25px;
background-color: azure;
}
