body{
background-color: aqua;
font-family: Georgia, 'Times New Roman', Times, serif;
direction: rtl;

}
h1{
    color: blue;
    font-size: 30px;
    text-align: center;
}
.frame{
background-color: rgb(204, 169, 236);
width: 90%;
}