* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    background-color: azure;
}

header.site-header {
    box-shadow: 0 0 4px #adadad;
    background: #9edcdc;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

h2 {
    border-bottom: 1px solid #a7a7a7;
    margin: 16px;
    padding-bottom: 8px;
    color: orange;
}

.logo::after {
    content: '🙂';
    font-size: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    background-image: linear-gradient(-78deg, #69b3b3, #9addd7);
}

nav a {
    text-decoration: none;
    padding: 6px 10px;
    color: white;
    display: inline-block;
}

nav a:hover {
    background-color: #55a8a8;
}

#list>div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#list li {
    font-size: 22px;
}

ol:last-child {
    list-style-type: hebrew;
}

#priority>div {
    display: flex;
    padding: 0 16px;
    gap: 8px;
    flex-wrap: wrap;
}

#priority>div div#item4 {
    background-color: #8b8400;
}

#priority>div div {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: darkcyan;
}

#priority>div div:last-child {
    background-image: url(./IMG_20181112_140242.jpg);
    background-size: cover;
}

#priority>div div:last-child:hover {
    background-position: top;
    scale: 1.1;
}

#articles>div {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 16px;
}

article {
    flex: 1;
    min-width: 300px;
}

article img {
    width: 100%;
    transition: 0.3s;
}

article img:hover {
    width: 100%;
    filter: brightness(1.2);
    scale: 1.05;
    border-radius: 80px;
}